nav {
	overflow: auto;
}

.bg-singapore {
	background-color: #d52941;
	height: 70px;
	font-size: 19pt;
}

.section-heading {
	font-size: 35pt;
	font-family: 'Balsamiq Sans', cursive;
}
.about {
	margin: 0;
	border-width: 2px;
	border-color: #d52941;
	box-shadow: 7px 7px #d52941;
	background-color: #fdfdfd;
}

.about p {
	font-size: 14pt;
	font-family: 'Nunito', sans-serif;
	margin: 15px;
}

.social {
	color: #666;
	font-size: 38pt;
	width: 100px;
}

.social:hover {
	/* color: #000; */
	color: #f2545b;
}

.eboard-heading {
	font-size: 25pt;
}

.eboard-card {
	font-family: 'Nunito', sans-serif;
}

.card {
}

.card-body {
	padding: 10px;
}

.logo {
	max-width: 350px;
}

a {
	color: #dd495c;
}

a:hover {
	color: #ac1d2e;
	text-decoration: underline;
}

.github {
	font-size: 14pt;
}

.flag {
	margin: 0;
	font-size: 40pt;
}

.footer-content {
	/* border-top: 1px double #d52941; */
	font-size: 10pt;
}
