nav {
	overflow: auto;
}

.bg-singapore {
	background-color: #d52941;
}

.navbar-light .navbar-brand {
	font-size: 90%;

	color: #fff;
}

.navbar-light .navbar-text {
	font-size: 90%;
}

.navbar-light .navbar-brand:hover {
	color: #000;
}

.about {
	margin: 20px 0 20px 0;
}

.social {
	color: #666;
	font-size: 32pt;
	width: 100px;
}

.social:hover {
	color: #000;
}

.eboard {
	margin: 5px 0 5px 0;
}

.card-body {
	padding: 10px;
}

.main-heading {
	font-size: 40pt;
	font-family: 'Balsamiq Sans', cursive;
}

.about {
	margin: 0 0 15px 0;
}

.about p {
	font-family: 'Lato', sans-serif;
	margin: 15px;
}
